# Node
node_modules/
dist/
*.log
.env
.DS_Store

# Angular
frontend/node_modules/
frontend/dist/
frontend/.angular/

# Backend TS
backend/dist/
backend/node_modules/
backend/.env

# IDE
.vscode/
.idea/
